/* Credit for keeping footer down: Joss (http: //www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/) */
html, body {
	background: #F1F1F1;
	color: #2F2F2F;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 99%;
	position: relative;
}
#header {
	padding: 10px;
}

h1, p {
	text-align: center;
	margin: 0.1em;
}

#content {
	padding-bottom: 3em;
	margin: 0em auto;
	overflow: auto;
	display: block;
	text-align: center;
}

.links {
	display: inline-block;
	vertical-align: top;
	margin: 0em 10px;
	max-width: 20em;
	min-width: 200px;
}

.links a {
	display: block;
	background: #FCFCFC;
	margin: 5px auto;
	padding: 0.7em 0.2em;
	border-radius: 0.3em;
	overflow: hidden;
	text-decoration: none;
	color: #2F2F2F;
	width: 100%;
	vertical-align: middle;
}

.links a.down {
	background: #F66F66;
}

#footer {
	width: 100%;
	height: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer p {
	margin: 0px;
}

img#fork-me {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

@media only screen and (max-width : 767px) {
	img#fork-me {
		display: none;
	}
}